mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
}

.header {
    text-align: center;
}

.full-width{
    width: 80%;
}

.aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
}

.username-input{
    padding-top: 10px;
}

mat-icon{
    cursor: pointer;
}