/**.content-body {
    min-height: 100%;
    padding: 100px 1rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,103,116,0.9822129535407913) 37%, rgba(0,212,255,1) 100%);
    display: block;
}**/