<div style="width: 90%; margin: auto;">
  <div class="chapter_title">
    <mat-card>{{myNote.entitled}}</mat-card>
  </div>

  <div class="note">
    <div class="chapter_content mt-5">
      <div [innerHTML]="myNote.text"></div>
    </div>
  </div>

  <div class="play_button" style="width: 20%;margin: auto;">
          <span style="cursor: pointer">
            <button mat-fab color="primary" aria-label="listen note music" *ngIf="!isPlay">
              <mat-icon
                class="play-button md-48"
                (click)="toggle()">
                play_arrow
              </mat-icon>
            </button>

            <button mat-fab color="primary" aria-label="pause note music" *ngIf="isPlay">
              <mat-icon
                class="pause-button md-48"
                (click)="toggle()">
                pause_arrow
              </mat-icon>
            </button>

          </span>
  </div>
</div>
