<!-- classes -->
<div class="jumbotron" style="background-color: wheat; text-align: center">
  <h1 class="display-4">Classes</h1>
</div>


<!-- class group1 -->
<div class="row m-3">
  <mat-card class="col-sm-4" *ngFor="let classe of Allclasses">
    <div class="p-2 bg-light">
      <mat-card-header>
        <div class="mx-auto">
          <mat-card-title>{{ classe.level + ' ' + classe.class_number + ' ' + classe.serie + ' ' + classe.option }}</mat-card-title>
          <mat-card-subtitle>card subtitle</mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="text-center">
          <button mat-raised-button color="primary" style="margin-right: 5px" routerLink="/navMenu/class-info/{{ classe.id }}"> Class detail </button>
          <button mat-raised-button color="warn" style="margin-right: 5px" routerLink="/navMenu/add-note/{{ classe.id }}"> Set note </button>
          <button mat-raised-button color="accent" routerLink="/navMenu/add-mark/{{ classe.id }}"> Set mark </button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>

<div class="text-center m-1">
  <button mat-mini-fab aria-label="Add new class" (click)="OpenCUMethod()">
    <mat-icon>add</mat-icon>
  </button>
</div>
