<div class="jumbotron" style="background-color: wheat; text-align: center">
  <h1 class="display-4">Your courses</h1>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Chemistry
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="p-3">
      <a mat-list-item routerLink="">
        <span>Chapitre 1</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 2</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 3</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 4</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 5</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 6</span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mathematic
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="p-3">
      <a mat-list-item routerLink="">
        <span>Chapitre 1</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 2</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 3</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 4</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 5</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 6</span>
      </a>
    </mat-nav-list>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Physic
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="p-3">
      <a mat-list-item routerLink="">
        <span>Chapitre 1</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 2</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 3</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 4</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 5</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 6</span>
      </a>
    </mat-nav-list>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        French
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="p-3">
      <a mat-list-item routerLink="">
        <span>Chapitre 1</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 2</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 3</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 4</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 5</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 6</span>
      </a>
    </mat-nav-list>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        English
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="p-3">
      <a mat-list-item routerLink="">
        <span>Chapitre 1</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 2</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 3</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 4</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 5</span>
      </a>
      <a mat-list-item routerLink="">
        <span>Chapitre 6</span>
      </a>
    </mat-nav-list>

  </mat-expansion-panel>
</mat-accordion>


