<div class="jumbotron" style="background-color: wheat; text-align: center">
  <h1 class="display-4">Your courses</h1>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let course of Course_list">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ course.entitled }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="p-3" *ngFor="let chapter of course.chapter_list">
      <a mat-list-item routerLink="/navMenu/display-course/{{ chapter.id }}">
        <span> {{ chapter.entitled }} </span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>


