<div>
  <div class="question-wrapper">
    <div *ngIf="quiz!=null" >
      <div class="question-number">
        QUESTION  {{currentIndex + 1}} OF {{quiz.questions.length}}
      </div>
      <app-question [question]="quiz.questions[currentIndex]"></app-question>
    </div>
  </div>

  <div class="buttons" *ngIf="quiz!=null">
    <button (click)="previous()">
      Previous
    </button>
    <button  (click)="next()" [innerHtml]="currentIndex == quiz.questions.length - 1 ? 'Submit' : 'Next'">
    </button>
  </div>
</div>
